.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    &__nav{
        background-color: $blue-color ;
        display: flex;
        justify-content: center;
        width: 100%;
        justify-content: space-between;
    }
    &__logo{
        margin-left: 2rem;
    }
    &__items{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    &__item{
        width: 100%;
        display:flex;
        justify-content: space-around;
        align-items: center;
        font-family: $title-font;
        font-size: 1.8rem;
        text-decoration: none;
    }
    &__item1{
        display: flex;
        text-align: center;
    }
    &__item2{
        display: flex;
        color:antiquewhite ;
    }
    &__item3{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: solid 0.1rem;
        border-radius: 1rem;
        padding: 0.4rem 0.7rem;
    }
    &__info{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: $yellow-color;
        font-family: $text-font;
        font-size: 1.7rem;
        padding: 4rem;
    }
    &__para{
        padding-top: 1rem;
        &--modifier{
            color: $blue-color;
        }
    }
    }