@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
$text-font:'Karla', sans-serif;
$title-font:'Josefin Sans', sans-serif;
$blue-color:#1078ad;
$yellow-color:#f4cf1b;
$gray-color:#9a9a9a;
$blue-shade-color:#2684b5;
$secondry-color:#86C6F4;
$white-color: #fff;